@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1F1517;
  color: #ffffff;
}

html {
  font-family: Inter, sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 970px) {
  nav {
    flex-direction: column;
    padding: 1.5rem 2rem;
  }

  .menu {
    gap: 1rem;
    flex-direction: column;
    align-items: center;
  }
}


.logo {
  font-family: Teko;
  font-size: 2rem;
  font-weight: 600px;
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color: #fff2e780;
}

.github {
  color: #fff2e7;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
}

.standart{
  background: #181012;
}

.hero {
  max-width: 1120px;
  height: 60vh;
  align-items: center;
  display: grid; /* Mudamos para grid para melhor controle */
  grid-template-columns: 1fr 1fr; /* 2 colunas para o conteúdo e as imagens */
  gap: 6rem;
  padding: 0rem 2rem;
  margin: auto;
  overflow: clip;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-imagens-container {
  max-width: 100%; /* Garantir que a imagem ocupe toda a largura */
  display: grid; /* Grid para as imagens */
  grid-template-columns: repeat(4, 1fr); /* 4 colunas em telas grandes */
  gap: 1rem;
  margin: -1rem;
}

.hero-imagens-container > figure > img {
  width: 100%;
  border-radius: 0.5rem;
}

@media (max-width: 970px) {
  .hero {
    grid-template-columns: 1fr; /* Para telas pequenas, a hero section se torna de uma coluna */
  }

  .hero-imagens-container {
    display: none;
    grid-template-columns: 1fr 1fr; /* 2 colunas para as imagens em telas pequenas */
  }

  .img_bigger {
    display: none;
    height: 150px; /* Ajusta o tamanho das imagens */
  }
}


.destaque{
  font-family: Epilogue;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.marrom {
  color: #a45a49;
}

.amarelo {
  color: #e7a80e;
}

h1 {
  font-family: Montserrat;
  font-size: 3.5rem;
  font-weight: 800;
}

hr {
  border-color: #a45a49;
}


.img_bigger{
  height: 200px;
  
}

.button-container {
  width: 100%;
  max-width: 1120px;

}


.clientes {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  padding: 3rem 2rem;
  margin: auto;
}

.clientes-card-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap; /* Permite que as cards se movam para a próxima linha em telas pequenas */
  justify-content: space-between;
}

.clientes-card {
  background: #241a1c;
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 29rem;
  margin-top: 2rem;
}

@media (max-width: 970px) {
  .clientes-card-container {
    flex-direction: column;
    align-items: center;
  }

  .clientes-card {
    flex-basis: 100%; /* Cards ocupam 100% da largura em telas pequenas */
    margin-top: 1rem;
  }
}


.clientes-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.clientes-title{
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  color: #fff2e7;
}

.clientes-subtitle {
  color: #c7bab3;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 40;
}



.clientes-card-container-row{
  padding: 0rem 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}


.clientes-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.clientes-card-header-details{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.clientes-title {
  color: #fff2e7;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
}

.clientes-grade {
  color: #756a67;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
}

.client-description {
  color: #c7bab3;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
}

.client-person {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.client-person > img{
  border-radius: 20rem;
  width: 1.5rem;
}

.client-name {
  color: #c7bab3;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
}

footer {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: #23181a;
}

@media (max-width: 970px) {
  footer {
    padding: 2rem;
  }

  .footer-copy, .footer-author {
    text-align: center; /* Centraliza o texto em telas pequenas */
  }
}


.footer-copy{
  color: #fff2e7;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
}

.footer-author{
  color: rgba(255,242,231,0.50);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
}